body{
    padding: 0;
    margin: 0;
}
.flex-container{
    display: flex;
    margin-bottom: 150px;
}
.div-width-half{
  width: 50%;
   margin-left: 30px;
   margin-right: 30px;
 
}

.div-width-half img{
    width: 50%;
   
}
#body-bulder-man-background-img {
    background-image: url(images/shapes/Group8450.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
   

}
#body-bulder-man-background-img img{
  height: 500px;
  width: 500px;
  margin-bottom: 60px;
    
}
.left-container{
    padding: 40px;
}
.left-container h1{
    font-size: 50px;
    text-align: left;
    color:rgb(32, 32, 32)
}

.left-container p{
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
    color: rgb(51, 51, 51);
    
}
.left-container a{
   text-decoration: none;
   padding: 20px 40px; 
   background-image: linear-gradient(rgb(50, 85, 199),rgb(5, 106, 238));
   color: white;
   text-align: center;
   border-radius: 25px;
   box-shadow: 5px 10px 10px grey;
    
}

#second-section-img img{
    margin-left: 60px;
    height: 530px;
    width: 320px;

}
#second-container-back-img{
    background-image: url(images/shapes/Frame58.jpg);
    background-repeat: no-repeat;
     background-size: 100%;
     background-position: center;
}
#about-me{
    padding: 150px;
}
#about-me h1{
    font-size: 50px;
}
#about-me p{
    font-size: 20px;
    color: rgb(66, 45, 63);
    padding-bottom: 30px;
}
#about-me a{
    text-decoration: none;
    padding: 20px 40px; 
    background-image: linear-gradient(rgb(50, 85, 199),rgb(5, 106, 238));
    color: white;
    text-align: center;
    border-radius: 25px;
    box-shadow: 5px 10px 10px grey;
}
.iteam-container{
    margin: 80px;
}
.iteam-div-img{
    
    width: 50%; 
    box-shadow: 0px 0px 10px gray;
    border-radius: 20px;
    margin: 20px;
}
.iteam-div-img img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 20px;
    border-radius: 20px;
}
.iteam-details{
    padding: 20px;
}
.iteam-details p{
    font-size: 20px;
    color: rgb(48, 46, 46);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 30px;
}
.iteam-top{
    text-align: center;
     
}
.iteam-top h1{
    font-size: 60px;
    color: rgb(65, 60, 60);
}
.iteam-top p{
    font-size: 20px;
    color: rgb(66, 45, 63); 
    margin: auto;
    width: 50%;
    line-height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

 
.user{
     background-color: rgb(255, 255, 255);
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 50px rgb(224, 223, 223);

}
.user-number{
    
    margin: 10px;
    padding: 10px;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
}

.user-number h1{ 
    font-size: 50px; 
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.user-number p{ 
    margin-top: -20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

footer{
    
     
    text-align: center;
    background-color: black; 
    vertical-align:middle;
    height: 200px;
    color: rgb(54, 2, 102);
   
    
}
 